<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body style="background-color:black; color:blue;">  
  
<h3>List of input data</h3>  
<table border=5>  
    <thead>  
        <td>ID</td>  
        <td>Username: </td>  
        <td>Password</td>  
       
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["username"]}}</td>  
            <td>{{row["password"]}}</td>  
            
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  